/* ? Third parties   */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Color+Emoji&family=Pacifico&family=Palanquin+Dark:wght@400;500;600;700&display=swap");

/* ? Custom Props */
:root {
  /* * Colors  */
  --primary-color: #a25b32;
  --primary: var(--primary-color) !important;
  --paragraph-color: #b2a197;
  --primary-color-opacity-100: hsla(34, 80%, 59%, 0.227);
  --secondary-color: #415361;
  --secondary-color-opacity-100: hsla(202, 45%, 27%, 0.227);
  --accent-color: var(--primary-color);

  /* * Fonts */
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "Rubik", sans-serif;
  --tertiary-font: "Poppins", sans-serif;

  /* * Sizes */
  --font-link: calc(0.5vw + 0.5vh + 0.5rem);
  --font-button: calc(5px + 0.25rem + 0.5vmax + 10%);
  --font-100: calc(1.1vmax);
  --font-200: calc(10px + 0.25rem + 0.25em + 0.15vmax + 5%);
  --font-300: calc(0.5rem + 0.25vmax + 0.5vw + 0.5vh);
  --font-400: calc(0.5vw + 0.5vh + 0.75rem);
  --font-500: calc(5px + 0.5vw + 0.5vh + 0.5rem + 0.5em);
  --font-600: calc(1vmax + 0.75vw);
  --font-700: calc(15px + 0.5vmax + 0.5rem + 0.5vw + 0.5vh + 0.5em + 10%);
  --font-800: calc(10px + 0.5vmax + 0.5rem + 0.8vw + 0.8vh + 0.5em + 12%);
  --font-900: calc(1.5vmax + 2rem + 1vw + 1vh);

  /* ** Spacing */
  --spacing-100: 0.25rem;
  --spacing-200: 0.5rem;
  --spacing-300: 0.75rem;
  --spacing-400: 1.15em;
  --spacing-500: 1.75em;
  --spacing-600: 2.5em;
  --spacing-700: 3em;
  --spacing-800: 5em;
  --spacing-900: 7em;
  --spacing-dynamic: 10em;

  /* * Containers */
  --size-100: calc(1vh + 1vw + 2vmax);
  --size-200: calc(2vh + 15% + 2vw + 1em);
  --size-300: calc(5vh + 20% + 5vw + 2em);
  --size-400: calc(7.5vh + 25% + 7.5vw + 2em);
  --size-500: calc(7.5vh + 35% + 7.5vw);
  --size-600: calc(10vh + 35% + 10vw);
  --size-700: calc(30vh + 20vw + 10% + 2.5rem);
  --size-800: calc(35vh + 25vw + 15% + 5rem);
  --size-900: 100vmax;
  --size-action-button: 8.5em;

  /*  */

  --border-size-100: 0.15rem;

  /* * Icons */
  --icon-100: 12.5px;
  --icon-200: 25px;
  --icon-300: 30px;
  --icon-400: 35px;
  --icon-500: 40px;
  --icon-600: 50px;
  --icon-700: 45px;
  --icon-800: 55px;
  --icon-900: calc(1.5rem + 5px + 1.5em);

  /* *  Radius*/
  --radius-100: 0.25rem;
  --radius-200: 0.5rem;
  --radius-300: 0.75rem;
  --radius-400: 1rem;
  --radius-500: 1.25rem;
  --radius-rounded: 255em;
  --radius-dynamic: calc(1rem + 0.25vw + 0.25vh);
  --radius-circle: 50%;

  /** Custom sizes */
  --header-hight: min(10dvh, 10vh);

  /* ? Box shadows */
  --shadow-accent-text: 0.5px 0.5px 3px #e09b41d8;
  --box-shadow-200: 0 0 2em -1em var(--DarkModeOpacity);
  --box-shadow-500: 1px 1px 3em -1em var(--shadow-color-100);
  --box-shadow-600: 0 0 5em 1em var(--DarkModeOpacity);
  --shadow-accent-glow: 0 0 1em -0.5em var(--accent-color);

  /* ? Transitions   */

  --transition-300: all 0.5s ease;
  --transition-5ms-Ease: all 0.5s ease;
  --transition-backgroundColor-Ease: background-color 0.5s ease;

  /* ? Layers */
  --higher-layer: 100;
  --above-layer: 90;
  --backLayer: -100;
}

/* ? * Colors */

/* * Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color-dark: #11100e;
    --primary-color-light: #e8d9b8;
    --background-color: #171311;
    --surface-gray: #b4b3b1;
    --surface-grayish: #555147;
    --theme-shadow: #b9b5ab8a;
    --input-background-color: #5a3a27d3;
    --tab-background-color: #11100edc;
  }
}

/* * Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    --primary-color-dark: #e8d9b8;
    --primary-color-light: #11100e;
    --background-color: #e8d9b8;
    --surface-gray: #b4b3b1;
    --surface-grayish: #eee5d1de;
    --theme-shadow: #1f1c16d2;
    --input-background-color: #8a6752bb;
    --tab-background-color: #d4c39d;
  }
}

/* ? Remove and assign new Global styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: transparent;
  list-style: none;
  text-decoration: none;
  font: inherit;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  border: unset;
  color-scheme: dark light;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  accent-color: var(--primary-color);
  scroll-behavior: smooth;
  transition: color 0.7s ease-in-out, background-color 2s ease-in-out;
}

/* ? Set core root defaults */

body,
body:focus-within,
html,
html:focus-within {
  scroll-padding: var(--header-hight, 10dvh, 10vh);
  overflow-x: hidden !important;
}

body {
  max-width: 100vw;
  max-width: 100dvw;
  width: 100vw;
  width: 100dvw;
  line-height: 1.5;
  background: var(--background-color);
  color: var(--primary-color-light);
  background-attachment: fixed;
  font-size: var(--font-200);
  font-family: var(--primary-font);
  font-weight: 500;
  /* transition: all 0.2s ease; */
}

.clickable {
  pointer-events: all;
  cursor: pointer;
  transition: var(--transition-5ms-Ease);
}
.clickable:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.flex {
  display: flex;
  align-items: center;
  align-content: center;
}

.header {
  min-height: 7dvh;
  --background: transparent;
}

.tool-bar {
  --background: transparent !important;
  color: var(--primary-color);
  padding: 0 var(--spacing-300);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  justify-content: start;
  min-width: 100px;
  gap: var(--spacing-100);
}

.header-title {
  color: var(--primary-color);
  font-size: var(--font-500);
  font-weight: 900;
}

.logo {
  max-width: var(--icon-400);
  max-height: var(--icon-400);
  margin-right: var(--spacing-200);
}

.menu-button {
  font-size: 3em;
  width: 60px;
  height: 60px;
  color: var(--primary-color);
}

.tab-bar {
  --background: var(--tab-background-color);
  --color: var(--primary-color);
  padding: var(--spacing-200);
  border-radius: 2em 2em 0 0;
  border: unset;
  height: 7dvh;
}

.navigation-tabs {
  color: var(--secondary-color);
}

.navigation-tabs[highlight="true"] {
  color: var(--primary-color);
}

.content {
  --background: var(--background-color);
  --color: var(--primary-color-light);
  height: 100dvh;
}

.content-container {
  padding: var(--spacing-400);
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
}

.ion-menu {
  --background: var(--tab-background-color);
  --color: var(--primary-color-light);
}

.ion-menu-container {
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
  min-height: 90dvh;
}

.menu-inner-container {
  min-width: 300px;
  display: grid;
  justify-content: start;
  gap: var(--spacing-300);
  margin: var(--spacing-300) auto;
}

.ion-menu-title {
  font-size: var(--font-400);
  font-weight: 900;
  color: var(--primary-color);
  display: flex;
  place-content: center;
  place-items: center;
  place-self: center;
  gap: 0 var(--spacing-100);
}

.toggle-container,
.menu-button-item {
  background-color: var(--surface-grayish);
  color: var(--paragraph-color);

  width: 90%;
  height: 50px;
  margin-left: 2em;
  padding: var(--spacing-200);
  border-radius: var(--radius-100);
  display: flex;
  place-content: start;
  place-items: center;
  place-self: center;
  gap: var(--spacing-200);
  text-transform: capitalize;
}

.ion-menu-icon {
  color: var(--primary-color);
}

.ion-toogle-icon {
  color: var(--primary);
}
/* Feed tab */

.no-feed-img {
  margin-top: 5em;
}

.no-feed-img[visible="false"] {
  display: none;
}

.feed-container {
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
  gap: var(--spacing-300);
  width: 100dvw;
  min-height: 100dvh;
  background-color: transparent;
  --background: transparent;
  padding: var(--spacing-200);
}

.feed-container[visible="false"] {
  display: none;
}

.ion-item {
  background-color: transparent !important;
  --background: transparent !important;
  max-width: 450px;
  min-height: 300px;
  padding: 0 !important;
  margin: 0 !important;
}

.feed-card {
  position: relative;
  padding: var(--spacing-400);
  border-radius: var(--radius-100);
  background: var(--surface-grayish);
  box-shadow: 0 0 0.5em var(--theme-shadow);
  width: 100%;
  min-width: 400px;
  min-height: 300px;
  transition: all 0.3s ease;
}

.feed-card[readMore="true"] {
  max-height: unset;
}

.feed-card[readMore="true"] .feed-card-see-less-button {
  display: block;
}

.feed-card-added-date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: var(--font-100);
  color: var(--paragraph-color);
}

.feed-card-header-container {
  display: flex;
  gap: var(--spacing-200);
  background-color: transparent !important;
  width: 100%;
}

.feed-card-avatar {
  max-width: 150px;
  max-height: 150px;
  border-radius: var(--radius-100);
  background: radial-gradient(
    circle,
    var(--primary-color) 0%,
    var(--primary-color-dark) 100%
  );
  object-fit: contain;
  object-position: bottom;
  padding: var(--spacing-400) var(--spacing-400) 0;
}

.feed-card-name-label {
  font-size: var(--font-500);
  font-weight: 900;
  color: var(--primary-color);
}

.feed-card-bold-label {
  font-size: var(--font-400);
  font-weight: 700;
  color: var(--primary-color);
  margin-right: var(--spacing-100);
}

.feed-card-paragraph {
  font-size: var(--font-200);
  font-weight: 500;
  color: var(--paragraph-color);
}

/* Pets tab */
.counter-label {
  font-size: var(--font-200);
  font-weight: 500;
  color: var(--primary-color-light);
  background-color: var(--primary-color);
  margin-right: var(--spacing-300);
  padding: var(--spacing-100) var(--spacing-200);
}
.search-bar {
  box-shadow: none;
  max-width: 90dvw;
}
.pet-list {
  background-color: transparent;
  width: 100dvw;
  display: grid;
  align-content: start;
  justify-content: center;
  place-items: center;
  place-self: center;
  gap: 1em;
}
.pet-item {
  --background: var(--surface-grayish);
  border-radius: var(--radius-200);
}
.pet-item[hide="true"] {
  display: none;
}
.list-feed-card-container {
  position: relative;
  padding: var(--spacing-200);
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-400);
  min-width: 400px;
}

/* Add pet tab */

.form {
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
  width: 100dvw;
  padding: var(--spacing-200);
}

.form-separator {
  height: 140px;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  gap: var(--spacing-200);
}

.input-wrapper {
  width: 100%;
  height: 125px;
}

.select-date-button {
  --background: var(--surface-grayish);
  height: 115px;
  width: 200px;
  --border-radius: var(--radius-100);
  color: var(--paragraph-color);
}
.ion-input {
  background-color: var(--surface-grayish);
  --background: var(--surface-grayish);
  --padding-start: 12px;
  border-radius: var(--radius-100);
  height: 50px;
  margin-bottom: 15px;
  color: var(--paragraph-color);
  font-size: var(--font-200);
  font-weight: 300;
}

.text-area {
  width: 100%;
  height: 125px;
}

.action-btns {
  margin-top: var(--spacing-400);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
}

.form-Btn {
  --color: var(--primary-color-light);
  height: 50px;
  min-width: 175px;
  --border-radius: var(--radius-100);
}
.primary-btn {
  --background: var(--primary-color);
}

.secondary-btn {
  --background: var(--secondary-color);
}

.btn-lbl {
  font-size: var(--font-200);
  font-weight: 700;
  color: var(--primary-color-light);
  margin-left: var(--spacing-200);
}

.add-pet-img {
  margin-top: var(--spacing-600);
}

@media screen and (max-width: 650px) {
  .add-pet-img {
    max-width: 180px;
  }
}

/* about tab */

.description {
  font-size: var(--font-200);
  font-weight: 500;
  color: var(--paragraph-color);
  margin: var(--spacing-700) 0;
  max-width: 70ch;
  text-align: center;
}

.copy-right {
  position: absolute;
  width: 100dvw;
  bottom: 1em;
  text-align: center;
  font-size: var(--font-100);
}
